{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% block title %}数据分析{% endblock %}
{% block tab_title %}数据分析<small>Analysis</small>{% endblock %}
{% block breadcrumb_links %}
    <li class="breadcrumb-item active">数据分析</li>
{% endblock %}
{% block analysis %}
    <div class="row">
        <div class="col-12">
            <div class="card card-outline card-info">
                <div class="card-header">
                    <h3 class="card-title bw-card-title">
                        <i class="fa fa-bar-chart-o"></i>
                        <a href="{% url 'IKEdata:wordnet' %}" class="bw-card-title-link">知识图谱应用展示：词网</a>
                    </h3>
                    <div class="card-tools">
                        <button type="button" class="btn btn-tool" data-card-widget="collapse"><i
                                class="fa fa-minus"></i></button>
                    </div>
                </div>
                <div class="card-body">
                    用了以后再追评一直用这个机油给车子保养，非常不错，相信京东自营。不错，美孚一号大牌子，京东自营值得信赖，爱车非常适用，已经用好多次京东买了，顺便购买了更换机油服务，一步到位，发动机很安静，油耗也降低了一点点，谁用谁知道，希望多搞点活动。一直用的银美孚一号
                    价格合适 自己保养车更放心 物流很快
                    一直信赖京东自营的东西选机油，先选SN级的，这是最高级，SL级是低配款，0W-30的意思是机油适用零度，流动性30的。家中常备机油，便宜就先囤一个，一直用这个牌子推荐这家店铺非常不错哦第一次在京东平台上购买美孚一号，之前一直在市场上买，效果特别好，希望京东平台上的美孚保真保质，如果用的好，以后还会接着在京东上购买京东平台优惠力度大，值得推荐，大家快来抢购，以后还会在京东上购买，希望以后赠送礼品多点首先，金美孚一号这款油，一直用这个牌子，质量非常好，其次，京东自营下单，配送时效特别快，晚上下单第二天早上9点就收到了，省去了去实体店的苦恼，而且价格也非常优惠，有优惠券可以领，这款油保养周期长，相信京东自营商城，物流很快，拿去店里换的，维修师傅说有不错，换完车的噪声小了很多，还在在买的发动机是汽车的心脏，润滑油的好坏对车辆的健康与否密切相关。好评一直从京东购买这款美孚一号机油，每次一万公里保养一次。
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-7">
            <div class="card card-outline card-success">
                <div class="card-header">
                    <h3 class="card-title bw-card-title">词云</h3>
                    <div class="card-tools">
                        <button type="button" class="btn btn-tool" data-card-widget="collapse"><i
                                class="fa fa-minus"></i></button>
                    </div>
                </div>
                <div class="card-body">
                    <img class="wordcloud" src="{% static 'images/wordcloud_all.png' %}" alt="wordcloud">
                </div>
            </div>
        </div>
        <div class="col-lg-5">
            <div class="card card-outline card-danger">
                <div class="card-header">
                    <h3 class="card-title bw-card-title">关键字</h3>
                    <div class="card-tools">
                        <button type="button" class="btn btn-tool" data-card-widget="collapse"><i
                                class="fa fa-minus"></i></button>
                    </div>
                </div>
                <div class="card-body">
                    <img class="wordcloud" src="{% static 'images/Emotion_Analyses.png' %}" alt="wordcloud">
                </div>
            </div>
        </div>
    </div>
{% endblock %}