{% extends 'base.html' %}
{% load static %}
{% block title %}数据分析{% endblock %}
{% block page_title %}数据分析{% endblock %}
{% block page_title_small %}Analysis{% endblock %}
{% block bread_crumbs %}
    <li class="mdui-float-left"><small>数据分析</small></li>
    <li class="mdui-float-left" style="margin: 0 5px"><small>/</small></li>
{% endblock %}
{% block analysis %}
    <div class="mdui-col-xs-12">
        <div class="mdui-card bw-md-card mdui-hoverable">
            <div class="mdui-card-media">
                <div class="mdui-card-media-covered bw-custom-covered bw-custom-covered-blue-grey mdui-clearfix">
                    <div class="mdui-card-primary">
                        <div class="mdui-typo-title-opacity" style="font-weight:700;">测试数据</div>
                    </div>
                </div>
            </div>
            <div class="mdui-card-content">
                {{ context }}
            </div>
        </div>
    </div>
    <div class="mdui-col-xs-12 mdui-col-sm-7">
        <div class="mdui-card bw-md-card mdui-hoverable">
            <div class="mdui-card-content">词云</div>
            <div class="mdui-card-media">
                <img src="{% static 'images/wordcloud_all.png' %}" alt=""/>
            </div>
        </div>
    </div>
    <div class="mdui-col-xs-12 mdui-col-sm-5">
        <div class="mdui-card bw-md-card mdui-hoverable">
            <div class="mdui-card-content">关键字</div>
            <div class="mdui-card-media">
                <img class="wordcloud" src="{% static 'images/Emotion_Analyses.png' %}" alt="wordcloud">
            </div>
        </div>
    </div>
{% endblock %}