{% extends 'base.html' %}
{% load static %}
{% block title %}数据分析测试{% if analysis_result %}结果{% endif %}{% endblock %}
{% block page_title %}数据分析测试{% if analysis_result %}结果{% endif %}{% endblock %}
{% block page_title_small %}Analysis Test {% if analysis_result %}Result{% endif %}{% endblock %}
{% block bread_crumbs %}
    <li class="mdui-float-left"><small>数据分析测试{% if analysis_result %}结果{% endif %}</small></li>
    <li class="mdui-float-left" style="margin: 0 5px"><small>/</small></li>
{% endblock %}
{% block analysis_test %}
    <div class="row mdui-typo">
        {% if analysis_result %}
            <div class="mdui-col-xs-12">
                <div class="mdui-card bw-md-card mdui-hoverable">
                    <div class="mdui-card-media">
                        <div class="mdui-card-media-covered bw-custom-covered bw-custom-covered-blue-grey mdui-clearfix">
                            <div class="mdui-card-primary">
                                <div class="mdui-typo-title-opacity" style="font-weight:700;">测试数据</div>
                            </div>
                        </div>
                    </div>
                    <div class="mdui-card-content">
                        {{ context }}
                    </div>
                </div>
            </div>
            <div class="mdui-col-xs-12">
                <div class="mdui-card bw-md-card mdui-hoverable">
                    <div class="mdui-card-media">
                        <div class="mdui-card-media-covered bw-custom-covered bw-custom-covered-blue-grey mdui-clearfix">
                            <div class="mdui-card-primary">
                                <div class="mdui-typo-title-opacity" style="font-weight:700;">自动摘要</div>
                            </div>
                        </div>
                    </div>
                    <div class="mdui-card-content">
                        {{ extract_text }}
                    </div>
                </div>
            </div>
            <div class="mdui-col-xs-12 mdui-col-sm-7">
                <div class="mdui-card bw-md-card mdui-hoverable">
                    <div class="mdui-card-content">词云</div>
                    <div class="mdui-card-media">
                        <img src="{% static 'images/wordcloud.png' %}" alt=""/>
                    </div>
                </div>
            </div>
            <div class="mdui-col-xs-12 mdui-col-sm-5">
                <div class="mdui-card bw-md-card mdui-hoverable">
                    <div class="mdui-card-content">关键字</div>
                    <div class="mdui-card-media">
                        <img class="wordcloud" src="{% static 'images/plt.png' %}" alt="wordcloud">
                    </div>
                </div>
            </div>
        {% else %}
            <div class="mdui-col-xs-12">
                <div class="mdui-card bw-md-card">
                    <form action="{% url 'IKEdata:analysis_test' %}" method="post">
                        {% csrf_token %}
                        <div class="mdui-card-content">
                            <div class="mdui-textfield">
                            <textarea class="mdui-textfield-input" placeholder="输入测试内容" name="context"
                                      required="required"></textarea>
                                <div class="mdui-textfield-helper">目前只支持输入中文</div>
                            </div>
                        </div>
                        <div class="mdui-card-actions">
                            <button class="mdui-btn mdui-ripple bw-btn-blue-grey" type="submit">测试</button>
                        </div>
                    </form>
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}