a {
    color: #17a2b8;
}

a:hover {
    color: #3b92a0;
}

table .sorting_asc, table .sorting_desc, table .sorting {
    background-image: url(../images/sort_asc.png);
    background-size: 16px;
    background-position-x: 95%;
}

.bw-sidebar-border {
    margin-bottom: 5px;
}

.wordcloud {
    width: 100%;
}

.bw-card-title-link {
    font-weight: bold;
}

.content-header h1 small {
    font-size: 15px;
    display: inline-block;
    padding-left: 4px;
    font-weight: 300;
}

#ikedata-tables th {
    min-width: 100px;
}

.a-btn {
    cursor: pointer;
}

@media (max-width: 1366px) {
    #ikedata-tables_wrapper {
        overflow: auto;
    }
}

@media (max-width: 991px) {
    .content-header .breadcrumb {
        padding-left: 10px;
        margin-top: 20px;
        background-color: #d2d6de !important;
    }
}