<div class="row">
    <div class="col-lg-4 col-xs-6">
        <!-- small box -->
        <div class="small-box bg-red">
            <div class="inner">
                <h3>{{ jd_data }}<sup style="font-size: 20px">%</sup></h3>
{#                <p>京东评论</p>#}
            </div>
            <div class="icon">
                <i class="ion ion-bag"></i>
            </div>
            <a href="#" class="small-box-footer">京东评论
{#                <i class="fa fa-arrow-circle-right"></i>#}
            </a>
        </div>
    </div>
    <!-- ./col -->
    <div class="col-lg-4 col-xs-6">
        <!-- small box -->
        <div class="small-box bg-green">
            <div class="inner">
                <h3>{{ test_data }}<sup style="font-size: 20px">%</sup></h3>
{#                <p>测试数据</p>#}
            </div>
            <div class="icon">
                <i class="ion ion-stats-bars"></i>
            </div>
            <a href="#" class="small-box-footer">测试数据</a>
        </div>
    </div>
    <!-- ./col -->
    <div class="col-lg-4 col-xs-6">
        <!-- small box -->
        <div class="small-box bg-yellow">
            <div class="inner">
                <h3>{{ other_data }}<sup style="font-size: 20px">%</sup></h3>
{#                <p>其他数据</p>#}
            </div>
            <div class="icon">
                <i class="ion ion-android-cloud"></i>
            </div>
            <a href="#" class="small-box-footer">其他数据</a>
        </div>
    </div>
</div>