{% extends 'base.html' %}
{% block title %}仪表盘{% endblock %}
{% block pages_title %}仪表盘{% endblock %}
{% block pages_small_title %}控制面板{% endblock %}
{% block breadcrumbs %}仪表盘{% endblock %}
{% block dashboard %}
    {% load static %}
        {% include 'Container/current_data.html' %} {# 引入当前数据块 #}
        <div class="row">
            <section class="col-lg-6 connectedSortable">
                <div class="box box-success ">
                    <div class="box-header">
                        <span class="box-title">数据来源统计:</span>
                        <div class="box-tools">
                            <button type="button" class="btn btn-box-tool" data-widget="collapse">
                                <i class="fa fa-minus"></i>
                            </button>
                            <button type="button" class="btn btn-box-tool" data-widget="remove">
                                <i class="fa fa-times"></i>
                            </button>
                        </div>
                    </div>
                    <div class="box-body chat bw-chat">
                        <div id="barChart" style="width: 100%;height:400px;"></div>
                    </div>
                    {#                    <div class="box-footer">页脚</div>#}
                </div>
            </section>
            <section class="col-lg-6 connectedSortable">
                <div class="box box-danger ">
                    <div class="box-header">
                        <span class="box-title">评论情感分析统计:</span>
                        <div class="box-tools">
                            <button type="button" class="btn btn-box-tool" data-widget="collapse">
                                <i class="fa fa-minus"></i>
                            </button>
                            <button type="button" class="btn btn-box-tool" data-widget="remove">
                                <i class="fa fa-times"></i>
                            </button>
                        </div>
                    </div>
                    <div class="box-body chat bw-chat">
                        <div id="donutChart" style="width: 100%;height:400px;"></div>
                    </div>
                    {#                    <div class="box-footer">页脚</div>#}
                </div>
            </section>
        </div>
    <script src="{% static 'AdminLTE-2.4/bower_components/jquery/dist/jquery.min.js' %}"></script>
    <script src="{% static 'js/default.js' %}"></script>
    <script src="{% static 'js/echarts_4.2.1.js' %}"></script>
    <script>
        //数据来源统计： 柱状图
        $(function () {
            // 基于准备好的dom，初始化echarts实例
            const myChart = echarts.init(document.getElementById('barChart'));

            // 指定图表的配置项和数据
            const option = {
                color: ['#3398DB'],
                title: {
                    text: '数量'
                },
                tooltip: {},
                legend: {
                    data: ['']
                },
                xAxis: {
                    data: ["京东评论", "测试数据", "其他评论"]
                },
                yAxis: {},
                series: [{
                    name: '数量',
                    type: 'bar',
                    data: [
                        '{{ jd_no }}',
                        '{{ test_no }}',
                        '{{ other_no }}'
                    ]
                }]
            };

            // 使用刚指定的配置项和数据显示图表。
            myChart.setOption(option);
        });
        //评论数据分析 饼图
        $(function () {
            // 基于准备好的dom，初始化echarts实例
            var myChart = echarts.init(document.getElementById('donutChart'));
            // 指定图表的配置项和数据
            var option = {
                title: {
                    x: 'center'
                },
                tooltip: {
                    trigger: 'item',
                    formatter: "{a} <br/>{b} : {c} ({d}%)"
                },
                legend: {
                    orient: 'vertical',
                    left: 'left',
                    data: ['正面评论', '负面评论']
                },
                series: [
                    {
                        name: '资产类型',
                        type: 'pie',
                        radius: '55%',
                        center: ['50%', '60%'],
                        data: [
                            {value:{{ positive_no }}, name: '正面评论'},
                            {value:{{ negative_no }}, name: '负面评论'}
                        ],
                        itemStyle: {
                            emphasis: {
                                shadowBlur: 10,
                                shadowOffsetX: 0,
                                shadowColor: 'rgba(0, 0, 0, 0.5)'
                            }
                        }
                    }
                ]
            };
            // 使用刚指定的配置项和数据显示图表。
            myChart.setOption(option);
        });
    </script>
{% endblock %}