{% extends 'base.html' %}
{% load static %}
{% block title %}数据挖掘{% endblock %}
{% block tab_title %}数据挖掘<small>Mining</small>{% endblock %}
{% block breadcrumb_links %}
    <li class="breadcrumb-item active">数据挖掘</li>
{% endblock %}
{% block clean %}
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <blockquote class="quote-info">
                        <ol>
                            <li><a href="javascript:">神经网络</a></li>
                            <li><a href="javascript:">相关性分析</a></li>
                            <li><a href="javascript:">组合分析</a></li>
                            <li><a href="javascript:">选择模型</a></li>
                        </ol>
                    </blockquote>
                </div>
            </div>
        </div>
    </div>
{% endblock %}