{% load static %}
<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Title</title>
    <link rel="shortcut icon" href="{% static 'images/logo-small.png' %}">
    <link rel="stylesheet" href="{% static 'css/font-awesome/css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/adminlte.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/default.css' %}">
    <script src="{% static 'js/jquery.js' %}"></script>
</head>
<body class="hold-transition {% if request.user.is_authenticated %}sidebar-mini layout-fixed{% else %}login-page{% endif %}">
{% if request.user.is_authenticated %}
    <div class="wrapper">
        {# 头部 + 抽屉 #}
        {% include 'Header/index.html' %}
        {# 页面内容 #}
        <div class="content-wrapper">
            {# 内容头部 #}
            <div class="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">
                        <div class="col-sm-6">
                            <h1 class="m-0">{% block tab_title %}{% endblock %}</h1>
                        </div>
                        <div class="col-sm-6">
                            <ol class="breadcrumb float-sm-right">
                                <li class="breadcrumb-item"><a href="/">首页</a></li>
                                {% block breadcrumb_links %}{% endblock %}
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
            {# 内容 #}
            <section class="content">
                <div class="container-fluid">
                    {% block dashboard %}{% endblock %}
                    {% block analysis_test %}{% endblock %}
                    {% block analysis %}{% endblock %}
                    {% block clean %}{% endblock %}
                    {% block collect %}{% endblock %}
                </div>
            </section>
        </div>
        {# 页脚 #}
        {% include 'Footer/index.html' %}
        {# 右侧配置栏 #}
        <aside class="control-sidebar control-sidebar-dark">
            {# 在这里添加配置内容 #}
        </aside>
    </div>
{% else %}
    {% include "login.html" %}
{% endif %}
<script src="{% static 'js/adminlte.min.js' %}"></script>
<script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'js/demo.js' %}"></script>
</body>
</html>