{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Title{% endblock %}</title>
    <link rel="shortcut icon" href="{% static 'images/logo-small.png' %}">
    <link rel="stylesheet" href="{% static 'css/mdui.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/default.css' %}">
    <link rel="stylesheet" href="{% static 'bw_font/iconfont.css' %}">
    <script src="{% static 'js/jquery.js' %}"></script>
</head>
{% if request.user.is_authenticated %}
    <body class="mdui-bottom-nav-fixed mdui-drawer-body-left mdui-appbar-with-toolbar mdui-theme-primary-indigo mdui-theme-layout-auto mdui-loaded mdui-theme-accent-indigo">
    {% include 'header.html' %}
    <div class="mdui-container-fluid">
        <div class="row mdui-typo">
            <div class="mdui-col-xs-12 mdui-col-md-6">
                <div class="mdui-typo bw-container-title">
                    <h1>{% block page_title %}{% endblock %}<small>{% block page_title_small %}{% endblock %}</small>
                    </h1>
                </div>
            </div>
            <div class="mdui-col-xs-12 mdui-col-md-6 bw_bread_crumbs">
                <ul style="list-style: none;">
                    <li class="mdui-float-left"><a href="javascript:"><small>首页</small></a></li>
                    <li class="mdui-float-left" style="margin: 0 5px"><small>/</small></li>
                    {% block bread_crumbs %}{% endblock %}
                </ul>
            </div>
            <div class="mdui-col-xs-12 mdui-hidden-sm-down">
                <div class="mdui-divider"></div>
            </div>
        </div>
        {% block dashboard %}{% endblock %}
        {% block analysis_test %}{% endblock %}
        {% block analysis %}{% endblock %}
        {% block clean %}{% endblock %}
        {% block mining %}{% endblock %}
        {% block collect %}{% endblock %}
    </div>
{% else %}
    <body class="mdui-bottom-nav-fixed">
    <div class="mdui-container">
        <div class="row">
            <div class="mdui-col-xs-12">{% include "login.html" %}</div>
        </div>
    </div>
{% endif %}
{% include 'footer.html' %}
<script src="{% static 'js/mdui.min.js' %}"></script>
</body>
</html>