{% load static %}
<form action="{% url 'IKEdata:login' %}" method="post">
    {% csrf_token %}
    <div class="mdui-valign login-card">
        <div class="mdui-center mdui-typo mdui-shadow-4 bw-login-center">
            <h1 class="mdui-text-center">宜氪数据 <small>IKE-data</small></h1>
            <p class="mdui-center">
                <label>
                    <i class="mdui-icon material-icons">&#xe851;</i>
                    <input type="text" name="username" placeholder="账号">
                </label>
            </p>
            <p class="mdui-center">
                <label>
                    <i class="mdui-icon material-icons">&#xe897;</i>
                    <input type="password" name="password" placeholder="密码">
                </label>
            </p>
            <p class="mdui-center">
                <button class="mdui-btn mdui-ripple" type="submit">登录</button>
            </p>
            <p class="mdui-text-center tips">
                {% if tips %}<i class="mdui-icon material-icons">&#xe001;</i>{{ tips }}{% endif %}
            </p>
        </div>
    </div>
</form>