@font-face {
  font-family: "iconfont"; /* Project id 2836107 */
  src: url('iconfont.woff2?t=1632646024257') format('woff2'),
       url('iconfont.woff?t=1632646024257') format('woff'),
       url('iconfont.ttf?t=1632646024257') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-shujuwajue:before {
  content: "\e916";
}

.icon-edit:before {
  content: "\e74c";
}

.icon-automation:before {
  content: "\e788";
}

.icon-cloud-o:before {
  content: "\e849";
}

.icon-dotchart:before {
  content: "\e84e";
}

.icon-save:before {
  content: "\e873";
}

.icon-dashboard:before {
  content: "\e764";
}

